
<div *ngIf="services">
    <h2><span jhiTranslate="serviceApp.services.detail.title">Services</span> {{services.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="serviceApp.services.serviceName">Service Name</span></dt>
        <dd>
            <span>{{services.serviceName}}</span>
        </dd>
        <dt><span jhiTranslate="serviceApp.services.serviceInformation">Service Information</span></dt>
        <dd>
            <div *ngIf="services.serviceInformation">
                <a [routerLink]="['/service-information', services.serviceInformation?.id]">{{services.serviceInformation?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'services/'+ services.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
