<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceInformationLabel" jhiTranslate="serviceApp.serviceInformation.home.createOrEditLabel">Create or edit a Service Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!serviceInformation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="serviceInformation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.plate" for="field_plate">Plate</label>
            <input type="text" class="form-control" name="plate" id="field_plate"
                [(ngModel)]="serviceInformation.plate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.route" for="field_route">Route</label>
            <input type="text" class="form-control" name="route" id="field_route"
                [(ngModel)]="serviceInformation.route" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.driverFirstName" for="field_driverFirstName">Driver First Name</label>
            <input type="text" class="form-control" name="driverFirstName" id="field_driverFirstName"
                [(ngModel)]="serviceInformation.driverFirstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.driverSurname" for="field_driverSurname">Driver Surname</label>
            <input type="text" class="form-control" name="driverSurname" id="field_driverSurname"
                [(ngModel)]="serviceInformation.driverSurname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.driverPhoneNumber" for="field_driverPhoneNumber">Driver Phone Number</label>
            <input type="text" class="form-control" name="driverPhoneNumber" id="field_driverPhoneNumber"
                [(ngModel)]="serviceInformation.driverPhoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="serviceApp.serviceInformation.carModel" for="field_carModel">Car Model</label>
            <input type="text" class="form-control" name="carModel" id="field_carModel"
                [(ngModel)]="serviceInformation.carModel" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
